.gallery {
    text-align: center;
    padding: 40px;
  }
  
  .gallery-header {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 300;
    color: #171717;
    margin-bottom: 20px;
  }
  
  .gallery-description {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.65;
    letter-spacing: 0.004em;
    font-size: 1.125rem;
    margin-bottom: 40px; 
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 369.69px); 
    gap: 0; 
    justify-content: center; 
    margin: 0 auto; 
  }
  
  .gallery-item {
    position: relative;
    width: 369.69px; 
    height: 369.69px; 
    overflow: hidden;
  }
  
  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover .gallery-image {
    transform: scale(1.1);
  }
  
  .gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover .gallery-overlay {
    opacity: 1;
  }
  
  .gallery-name {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  }
  
  @media (max-width: 1199px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr); /* Adjust to two columns on medium screens */
    }
  }
  
  @media (max-width: 767px) {
    .gallery-grid {
      grid-template-columns: 1fr; /* Adjust to one column on small screens */
    }
  }
  